*~
.DS_Store
uploaded_images
.git-storyid
/node_modules
/yarn-error.log
/.cache
dist
build
yarn-debug.log*
.yarn-integrity
cypress/videos
cypress/screenshots
cypress/fixtures
.yarn/*
.pnp.*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
